# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Mengabaikan folder Recycle Bin
$RECYCLE.BIN/

# Mengabaikan MSOCache
MSOCache/

# Mengabaikan DumpStack.log.tmp
DumpStack.log.tmp
